
@{
    ViewBag.Title = "Index";
}

<div class="Band" style="background-image: url('../../Content/Media/Image/computer-2617622_1920.jpg');">
    <div class="Band-Image">
        <div class="container body-content">
            <div class="Band-ImageText">
                <h1>Kontakt</h1>
            </div>
        </div>
    </div>
</div>