<div class="row">
    <div class="col-lg-4 col-xs-12">
        <div class="UserReview">
            <h4 class="UserReviewHead">Glimrende site</h4>
            <p class="UserReviewText">Vi hos models har haft stor glæde af at bruge LookSerious Books. Det er nemt at bruge og alle modellerne har opdaterede billeder med til castings rundt i hele verden uden at skulle forbi bureauet.</p>
            <p class="UserReviewPerson">Post Models</p>
            <p class="UserReviewDate">21/6-2017</p>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="UserReview">
            <h4 class="UserReviewHead">Glimrende site</h4>
            <p class="UserReviewText">Vi hos models har haft stor glæde af at bruge LookSerious Books. Det er nemt at bruge og alle modellerne har opdaterede billeder med til castings rundt i hele verden uden at skulle forbi bureauet.</p>
            <p class="UserReviewPerson">Post Models</p>
            <p class="UserReviewDate">21/6-2017</p>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12">
        <div class="UserReview">
            <h4 class="UserReviewHead">Glimrende site</h4>
            <p class="UserReviewText">Vi hos models har haft stor glæde af at bruge LookSerious Books. Det er nemt at bruge og alle modellerne har opdaterede billeder med til castings rundt i hele verden uden at skulle forbi bureauet.</p>
            <p class="UserReviewPerson">Post Models</p>
            <p class="UserReviewDate">21/6-2017</p>
        </div>
    </div>
</div>
