
@{
    ViewBag.Title = "Index";
}

<div class="Band" style="background-image: url('../../Content/Media/Image/businessman-standing-in-his-office-picjumbo-com.jpg');">
    <div class="Band-Image">
        <div class="container body-content">
            <div class="Band-ImageText">
                <h1>Hvem er vi?</h1>
            </div>
        </div>
    </div>
</div>

